* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
     }
   
   body {
     background-color: #680707;
     //background-image: linear-gradient(to bottom right, rgb(77, 6, 6), rgb(184, 128, 120), rgb(255,255,255));
     background-image: linear-gradient(to bottom right, rgb(77, 6, 6), rgb(184, 128, 120), rgb(255,255,255));
     justify-content: center;
     align-items: center;
     display: flex;
     min-height: 100vh;
  
       }

    #background-video {
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -1;
      }

.box {
    background-color: #74a6f0;
    border: 6px solid #09bb71;
    padding-left: 60px;
    padding: 60px;
    border-radius: 1rem;
   }

.box h2 {
   margin-bottom: 40px;
   text-align: center;
   font-size:30px;
   color: #0ba15b;
   text-shadow:  2px 2px 4px #000000;
   font-family:'Times New Roman', Times, serif
}
input {
    padding: 20px;
    user-select: none;
    height: 50px;
    width: 400px;
    border-radius: 6px;
    border: none;
    border: 2px solid #680707;
    outline: none;
    font-size: 22px;
    justify-content: center;
    text-align: center;
}
 input ::placeholder {
     font-size: 26px;
 }

 #btnGen {
     display: flex;
     font-size: 20px;
     font-weight: 500;
     background-color: #073879;
     color: #f0eef752;
     justify-content: center;
     cursor: pointer;
     text-align: center;
     margin-top: 40px;
     width: 150px;
     height: 50px;
     padding-top: 10px;
     margin-left: 30%;
     border-radius: 1rem;
 }
 #btnGen:hover {
     color: #fcfafa;
     background-color: #44971d;